/*------------------------
    IMPORTS
------------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');

/*------------------------
    CSS Root Variabler
------------------------*/

:root {
    --HeadingFont: 'Playfair Display', Georgia, serif;
    --BodyFont: 'Lato', Arial, sans-serif;
    --MaxPageWidth: 1300px;

    --ColorBlue: #E9F3FE;
    --ColorGreen: #E9F2E9;
    --ColorBeige: #F7F6F4;
    --ColorRed: #F1E0DC;
    --ColorGreenDark: #7E8C7F;
    --ColorBlack: #101112;
}

/*------------------------
    OVERALLS
------------------------*/

html {}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--HeadingFont);
    font-weight: 400;
    margin-top: -0.3em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 3.6em;
    letter-spacing: 0.05em;
}

h2 {
    font-size: 2.5em;
}

.a_btn {
    font-family: var(--HeadingFont);
    font-size: 1.2em;
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

.a_btn:hover {
    color: #555;
}

body {
    font-family: var(--BodyFont);
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

section img {
    filter: brightness(105%) contrast(93%);
}

p {
    font-size: 1em;
    color: #000;
    font-weight: 300;
    line-height: 1.36;
    margin-bottom: 1em;
}

section:nth-of-type(1) {
    margin-top: 50px;
}

.page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(0em, auto) minmax(0em, auto) minmax(0em, auto);
    grid-template-areas: "header" "main" "footer";
    max-width: 1300px;
    margin: 0 auto;
}

header {
    grid-area: header;
    width: 100%;
}

main {
    grid-area: main;
    width: 100%;
}

footer {
    grid-area: footer;
    width: 100%;
}

.zero_margin {
    margin: 0 !important;
}


/*------------------------
    NAVIGATION
------------------------*/

header {
    position: fixed;
    padding: 10px 15px 10px 15px;
    background: hsla(0, 0%, 100%, 0.95);
    max-width: 1300px;
    z-index: 1000;
    /*    max-width: var(--MaxPageWidth);*/
}

@media screen and (min-width:600px) {
    /* Desktop */
    header {
        padding: 20px 10px 20px 30px;
    }
}

nav {
    display: grid;
    justify-items: center;
}

@media screen and (min-width:600px) {
    /* Desktop */
    nav {
        grid-template-columns: 1fr repeat(6, 80px);
        /*        grid-template-columns: 6fr repeat(6, minmax(80px, 1fr));*/
        grid-template-rows: 1fr;
        align-items: center;
    }
}

.header_logo {
    justify-self: start;
}

.nav_item:nth-last-of-type(1) {
    /*    justify-self: end;*/
}

@media screen and (min-width:600px) {
    .header_logo img {
        width: 170px;
        /*        padding: 10px;*/
        padding-left: 0px;
    }
}

.nav_item {
    /*    justify-self: center;*/
    color: inherit;
    text-decoration: none;
    font-family: var(--HeadingFont);
    font-size: 1em;
    font-weight: 400;
    padding-top: 4px;
    padding-bottom: 4px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: .1s;
}

.nav_item:hover,
.nav_item:focus {
    color: #404040;
    /*    font-weight: 700;*/
    border-bottom: 2px solid #909090;
    transition: .2s;
}

/*------------------------
    SECTIONS
------------------------*/

/*** ALL SECTIONS ***/

section {
    padding: 80px 15px 80px 15px;
}

@media screen and (min-width:600px) {
    /* Desktop */
    section {
        padding: 120px 30px 120px 30px;
    }
}

.magazine {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, minmax(0em, 5vh));
    grid-gap: 30px;
}

.magazine img {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

/*** FOOTER ***/

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 50px;
    column-gap: 20px;
    margin-top: 200px;
    color: #ededed;
    background: var(--ColorGreenDark);
    padding: 50px 30px 50px 30px
}

footer a,
ul,
p {
    color: inherit;
    font-weight: 300;
}

footer h3 {
    font-size: 1.8em;
}

footer li {
    line-height: 1.5;
    list-style-type: none;
}

#footer_2 li:nth-of-type(1) {
    font-weight: 700;
}

#footer_3 li:nth-of-type(1) {
    font-weight: 700;
}

#footer_5 a {
    margin-left: 10px;
}

/*** TEMPLATE SECTIONS ***/

/* Besøg vores shop */

.cta_webshop {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
    background: var(--ColorGreen);
    text-align: center;
    margin-top: -50px;

}

.cta_webshop h2 {
    grid-column: 2/3;
    grid-row-start: 2;
}

.cta_webshop p {
    grid-column: 2/3;
    grid-row-start: 3;
}

.cta_webshop .a_btn {
    grid-column: 2/3;
    grid-row-start: 4;
}

/**/

/* Besøg vores shop */

#showcase_section {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-rows: 50px minmax(1em, 400px) 50px;
    grid-gap: 30px;
    text-align: center;
}

#showcase_section .tekst_1 {
    grid-column: 2/4;
    grid-row-start: 1;
}

#showcase_section .a_btn {
    grid-column: 2/3;
    grid-row-start: 4;
}

#showcase_section #showcase_modtager {
    grid-column: 2/4;
    grid-row: 2/3;
}

#showcase_modtager {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    padding-top: 60px;
}

.showcase_item img {
    filter: brightness(100%) contrast(100%);
    width: 100%;
    max-width: 400px !important;
}

.showcase_item p {
    font-size: 1.5em;
    font-weight: 600;
}

/**/

/*** INDEX ***/

/* Hero */

#hero .tekst_1 {
    grid-column: 7/12;
    grid-row-start: 7;
    z-index: 100;
}

#hero .img_container_1 {
    grid-column: 6/12;
    grid-row: 1/7;
    overflow: hidden;
}

#hero .img_container_2 {
    grid-column: 2/7;
    grid-row: 3/12;
    overflow: hidden;
    z-index: 10;
}

#hero .bg_box {
    grid-column: 5/9;
    grid-row: 2/8;
    background: var(--ColorGreen);
}

/**/

/* Mere End */

#mere_end .tekst_1 {
    grid-column: 2/6;
    grid-row-start: 3;
    z-index: 100;
}

#mere_end .tekst_2 {
    grid-column: 8/12;
    grid-row-start: 9;
    z-index: 100;
}

#mere_end .img_container_1 {
    grid-column: 7/12;
    grid-row: 1/9;
    overflow: hidden;
}

#mere_end .img_container_2 {
    grid-column: 2/8;
    grid-row: 6/12;
    overflow: hidden;
    z-index: 10;
}

#mere_end .bg_box {
    grid-column: 5/10;
    grid-row: 4/10;
    background: var(--ColorBlue);
}

/**/

/* Produkter i brug */

#produkter_i_brug .tekst_1 {
    grid-column: 7/12;
    grid-row-start: 7;
    z-index: 100;
}

#produkter_i_brug .img_container_1 {
    grid-column: 6/12;
    grid-row: 1/7;
    overflow: hidden;
}

#produkter_i_brug .img_container_2 {
    grid-column: 2/7;
    grid-row: 3/12;
    overflow: hidden;
    z-index: 10;
}

/**/

/* Manden bag */

#manden_bag .tekst_1 {
    grid-column: 2/6;
    grid-row-start: 2;
    z-index: 100;
}

#manden_bag .img_container_1 {
    grid-column: 7/12;
    grid-row: 1/11;
    overflow: hidden;
}

#manden_bag .bg_box {
    grid-column: 5/8;
    grid-row: 3/8;
    background: var(--ColorRed);
}

/**/

/*** NYHEDER ***/

#nyheder_hero {
    padding-bottom: 20px;
}

#nyheder_container {
    padding-top: 50px;
}

#nyhed_modtager {
    display: grid;
    grid-template-columns: 1fr;
}

#nyhed_modtager article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "tekst billede";
    grid-gap: 50px;
    /*    max-height: 350px;*/
    margin-bottom: 80px;
}

#nyhed_modtager article:nth-child(even) {
    grid-template-areas: "billede tekst";
}

.nyhed_tekst_card {
    /*    grid-column: 1/2;*/
    grid-area: tekst;
    align-self: center;
}

.nyhed_titel {
    font-family: var(--HeadingFont);
    font-size: 2em;
}

.nyhed_img_container {
    grid-area: billede;
    max-height: 350px;
    overflow: hidden;
}

.nyhed_img_container img {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

/**/

/*** OM ***/

/* Hero */

#om_hero .tekst_1 {
    grid-column: 2/7;
    grid-row-start: 2;
    z-index: 100;
}

#om_hero .tekst_2 {
    grid-column: 8/12;
    grid-row-start: 7;
    z-index: 100;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#om_hero .tekst_2 p:nth-of-type(1) {
    font-family: var(--HeadingFont);
    font-size: 2.7em;
    margin: 0;
}

#om_hero .tekst_2 p:nth-of-type(2) {
    font-family: var(--BodyFont);
    font-size: 1.5em;
    margin-top: .8em;
}

#om_hero .tekst_2 p:nth-of-type(3) {
    grid-column: 1/3;
    margin-top: .8em;
    margin-bottom: 0;
}

#om_hero .tekst_2 p:nth-of-type(4) {
    grid-column: 1/3;
    margin-top: .0em;
}

#om_hero .img_container_1 {
    grid-column: 7/13;
    grid-row: 1/7;
    overflow: hidden;
}

#om_hero .img_container_2 {
    grid-column: 2/8;
    grid-row: 5/13;
    overflow: hidden;
    z-index: 10;
}

#om_hero .bg_box {
    grid-column: 5/9;
    grid-row: 2/8;
    background: var(--ColorGreen);
}

/**/

/* Infografik */

#infografik {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.infografik_1,
.infografik_2,
.infografik_3 {
    width: 100%;
}

.infografik_1,
.infografik_2,
.infografik_3 {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.infografik_1 {
    background-image: url(/img/ler.png);
}

.infografik_2 {
    background-image: url(/img/coffee-cup.png);
}

.infografik_3 {
    background-image: url(/img/coffee-beans.png);
}

.infografik_tekst {
    font-size: 1.4em;
}

.odometer {
    /*    font-family: var(--HeadingFont);*/
    font-weight: 300;
    font-size: 4em;
}

/**/

/* Video */

#video_om {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr;
}

.video_container {
    grid-column: 2/3;
    position: relative;
    padding-bottom: 56.25%;
    padding-right: 0px;
    height: 0;
    overflow: hidden;
}

.video_container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/**/

/* Historie */

#historie .tekst_1 {
    grid-column: 2/7;
    grid-row-start: 1;
    z-index: 100;
    padding-right: 40px;
}

#historie .img_container_1 {
    grid-column: 7/12;
    grid-row: 1/13;
    overflow: hidden;
}


/**/

/**/

/*** KONTAKT ***/

/* Maps */

#maps {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

#maps_container {
    position: relative;
    /*    padding-bottom: 56.25%;*/
    padding-bottom: 600px;
    padding-right: 0px;
    overflow: hidden;
}

#maps_container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* END ALL SECTIONS */

/*** KONTAKTFORMULAR ***/
